[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mysql-connector-python = "*"
cryptography = "*"
pyjwt = "*"
nh3 = "*"
pytz = "*"
aiofiles = "*"
ariadne = {extras = ["asgi"], version = "*"}
python-multipart = ">=0.0.18"
openai = "*"
redis = "*"
pymupdf = "*"
pytesseract = "*"
uvicorn = {extras = ["standard"], version = "*"}
broadcaster = "*"
websockets = "*"
elasticsearch = "*"
beautifulsoup4 = "*"
google-cloud-translate = "*"

[dev-packages]

[requires]
python_version = "3.12"
