[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mysql-connector-python = "*"
uvicorn = "*"
cryptography = "*"
pyjwt = "*"
nh3 = "*"
pytz = "*"
aiofiles = "*"
ariadne = {extras = ["asgi"], version = "*"}
python-multipart = "*"
openai = "*"
redis = "*"
pymupdf = "*"
pytesseract = "*"

[dev-packages]

[requires]
python_version = "3.12"
