header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
}

header a {
    grid-column: 2;
}

header nav {
    grid-column: 3 / span 9;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}

a:link, a:visited {
    text-decoration: none;
    color: var(--primary-500);
    font-weight: 500;
}
